In [2]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///:memory:', echo=True)
engine

Engine(sqlite:///:memory:)

In [3]:
from sqlalchemy import text

with engine.begin() as conn:
    conn.execute(text("""--sql
        CREATE TABLE IF NOT EXISTS CLIENTE (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nome VARCHAR(50) NOT NULL,
            cpf CHAR(11) NOT NULL UNIQUE
        )
    """))
    conn.execute(text("""--sql
        CREATE TABLE IF NOT EXISTS CONTA (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            saldo REAL(7,2) NOT NULL DEFAULT 0,
            id_cliente INTEGER NOT NULL,
            FOREIGN KEY (id_cliente) REFERENCES CLIENTE (id)
        )                    
    """))

2023-11-26 16:41:59,976 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-26 16:41:59,977 INFO sqlalchemy.engine.Engine --sql
        CREATE TABLE IF NOT EXISTS CLIENTE (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nome VARCHAR(50) NOT NULL,
            cpf CHAR(11) NOT NULL UNIQUE
        )

2023-11-26 16:41:59,978 INFO sqlalchemy.engine.Engine [generated in 0.00068s] ()
2023-11-26 16:41:59,978 INFO sqlalchemy.engine.Engine --sql
        CREATE TABLE IF NOT EXISTS CONTA (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            saldo REAL(7,2) NOT NULL DEFAULT 0,
            id_cliente INTEGER NOT NULL,
            FOREIGN KEY (id_cliente) REFERENCES CLIENTE (id)
        )

2023-11-26 16:41:59,979 INFO sqlalchemy.engine.Engine [generated in 0.00045s] ()
2023-11-26 16:41:59,980 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
with engine.begin() as conn:
    conn.execute(text("""--sql
        INSERT INTO CLIENTE (nome, cpf)
            VALUES ('gustavo', '09825330635')
    """))

2023-11-26 16:41:59,986 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-26 16:41:59,987 INFO sqlalchemy.engine.Engine --sql
        INSERT INTO CLIENTE (nome, cpf)
            VALUES ('gustavo', '09825330635')

2023-11-26 16:41:59,987 INFO sqlalchemy.engine.Engine [generated in 0.00067s] ()
2023-11-26 16:41:59,988 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
with engine.begin() as conn:
    conn.execute(
        text("""--sql
            INSERT INTO CLIENTE (nome, cpf)
                VALUES (:nome, :cpf)
        """),
        [
            {'nome': 'alberto', 'cpf': '11111111111'},
            {'nome': 'renato', 'cpf': '22222222222'},
            {'nome': 'cintia', 'cpf': '33333333333'}
        ]
    )

2023-11-26 16:41:59,994 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-26 16:41:59,995 INFO sqlalchemy.engine.Engine --sql
            INSERT INTO CLIENTE (nome, cpf)
                VALUES (?, ?)

2023-11-26 16:41:59,996 INFO sqlalchemy.engine.Engine [generated in 0.00066s] [('alberto', '11111111111'), ('renato', '22222222222'), ('cintia', '33333333333')]
2023-11-26 16:41:59,997 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
with engine.connect() as conn:
    result = conn.execute(text("""--sql
        SELECT * FROM CLIENTE
    """))
    
    for id, nome, cpf in result:
        print(f'{id} -> {nome} ({cpf})')

2023-11-26 16:44:22,135 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-26 16:44:22,136 INFO sqlalchemy.engine.Engine --sql
        SELECT * FROM CLIENTE

2023-11-26 16:44:22,136 INFO sqlalchemy.engine.Engine [cached since 57.29s ago] ()
1 -> gustavo (09825330635)
2 -> alberto (11111111111)
3 -> renato (22222222222)
4 -> cintia (33333333333)
2023-11-26 16:44:22,137 INFO sqlalchemy.engine.Engine ROLLBACK